* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, #424242, #ffffff, #000000);
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #ffffff;
}

h3 {
    font-size: 20px;
    color: rgb(92, 92, 99);
}

.searchArea {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

input {
    height: 25px;
    width: 300px;
}

button {
    height: 25px;
    padding: 0 10px;
    
}

/* #modalPrice {
    position: absolute;
    bottom: 0;
    font-size: 20px;
} */

#productList {
    padding: 5% 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem;
    gap: 1rem;
    text-align: center;
    justify-content: center;
}

.product-card {
    position: relative;
    backdrop-filter: blur(3px);
    background-color: #ffffff;
    display: grid;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px 20px;
    justify-items: center;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
   transform: scale(1.05); 
}

.product-card:active {
    transform: scale(0.95);
}


img {
    max-width: 150px;
    max-height: 150px ;

    margin: 20px
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.6);
}

#modalDescription {
    color: black;
    margin-top: 10px;
    display: block;
}


.modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    transition: 0.2s ease-in-out;
}

.close-btn:hover {
    transform: scale(1.2);
}


@media (max-width: 1000px) {
    #productList {

    grid-template-columns: repeat(2, 1fr);
}
}

@media (max-width: 800px) {
    #productList {
        display: block;
    }
}